body{
    max-width: 480px;
    height:100%;
    margin:0px auto;
    background-color: rgb(245, 241, 241);
    /* position: relative; */
    font-family:Arial, Helvetica, sans-serif;
}  
 *{
     text-transform: lowercase;
 }