 @media only screen and (max-width: 480px) { 
#foodlogo{
    height: 70px;
    width: 70px;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

header{
    background-color: rgb(255, 0, 0);
    outline:dashed black 1px;
    position:fixed;
    width:100vw;
    display:grid;
    grid-template-columns:1fr 3fr;
    z-index: 99;
}

nav{
    text-align: right;
    margin-right:5%;
    box-sizing: border-box;
    padding-top:2.5em;
    
}

nav li{
    display:inline-block;
    list-style-type: none;
    padding:5px;

    }

    li a{
        /* outline:dashed black 1px; */
        text-decoration: none;
    }

   

    footer{
        background-color:  rgb(255, 0, 0);
        outline:dashed orange 1px;
        /* position:fixed; */
        width:100vw;
        height: 50px;
        bottom:0;
        /* display:grid;
        grid-template-columns:4fr 3fr; */
        /* z-index: 99; */
     }

    /* .me{
        outline:solid black 1px;
        padding-top: 40vh;
    } */
}