/* .container{
    outline:dashed black 1px;
} */

#search-form{
    /* outline: dashed black 1px; */
    width: 400px;
    text-align: center;
    margin: 20px auto 0px auto;
}

.input-box{
    /* outline: solid gray 1px; */
   margin: 5px;
   padding: 10px 0px 10px 10px;
   box-sizing: border-box;
}

form input {
    width: 100%;
}

form h2 {
    padding-bottom: 10px;
    font-size: 1.7em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

select {
    padding: 10px 0px 10px 10px;
    display: inline-block;
    width: 45%;
    margin: 0px 8px 0px 8px;
}

.button {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #2980b9);
    background-image: -moz-linear-gradient(top, #3cb0fd, #2980b9);
    background-image: -ms-linear-gradient(top, #3cb0fd, #2980b9);
    background-image: -o-linear-gradient(top, #3cb0fd, #2980b9);
    background-image: linear-gradient(to bottom, #3cb0fd, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color:rgb(245, 241, 241);
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border: 0px;
    width: 80%;
    margin-top: 10px;
  }

#log-in{
  /* outline:dashed black 1px; */
    position: fixed; 
    height:20%;
    top:25%;
    left:25%;
    transform:translate (-50%, -50%);
    display: grid;
}

#log-in legend{
    margin:auto;
    font: bold
}

.signup-view{
    width: 400px;
    text-align: center;
    margin: 20px auto 0px auto;
}

#food-prefs {
    margin: 30px auto 0px auto;
    width: 100%;
}

#login-box{
    margin:auto;
    text-align: center;
    padding:10px;
}

#signup-box{
    margin:auto;
    text-align: center;
    padding:10px;
}

#sign-up button {
    margin: 40px auto;
}

.recipe-view {
    padding-top: 40px;
}

#each-recipe {
    position: relative;
    height: 200px;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

#image-and-title {
    /* outline: 1px red solid; */
    position: relative;
    /* padding: 10px 0px; */
}

#recipe-title{
    padding: 10px;
    background-color: black;
    opacity: .85;
    color:  rgb(245, 241, 241);
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#recipe-image {
    display: block;
    position: absolute;
    left: 0px;
    width: 200px;
}

#ingredients-list {
    position: absolute;
    width: 52%;
    margin: 10px 10px 10px 220px;
    word-wrap: break-word;
}

#recipe-link {
    position: absolute;
}

.recipe-button {
    margin: 133px 0px 0px 0px;
    padding: 8px;
    font-size: .9em;
    background-color: rgb(187, 183, 183);
    color:black;
    border: 0px;
    width: 185px;
    text-align: center;
    font-weight: 600;
}

a  {
    text-decoration: none;
}

.about-view{
    width:95%;
    margin-left:10px;
}

.me{
    position:relative;
    display:grid;
    grid-template-columns: 0fr 3fr;
    margin:20px 5px;
}

.me p{
    font-size: 14px;
    margin-left:10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.me h1 {
    margin-left: 10px;
}

.about-photo {
    width: 120px;
}

/* .my-links {
    position: relative;
} */

.my-link-images {
    padding-left: 5px;
    margin-top: 5px;
}

footer {
    padding: 10px;
    font-size: .7em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color:  rgb(245, 241, 241);
    text-align: center;
    background-color:  black;
    opacity: .85;
}