
#search-form{
    outline:dashed black 1px;
    position: fixed; 
    height:20%;
    top:25%;
    left:25%;
    transform:translate (-50%, -50%);
    
}

#log-in{
  outline: dashed 2px blue;
  outline:dashed black 1px;
    position: fixed; 
    height:20%;
    top:25%;
    left:25%;
    transform:translate (-50%, -50%);
}

.recipe-view {
    padding-top: 40vh;
}

#each-recipe {
    outline: solid purple 3px;
}

#image-and-title {
    position: relative;
    text-align: center;
}

#recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100;
}


.about-view{
    padding-top: 20vh;
    position:fixed;
}

