
#search-form{
    /* outline:dashed black 1px; */
    position: absolute; 
    height:20%;
    top:20%;
    left:34%;
    transform:translate (-50%, -50%); 
    z-index: 0;
    
}


#log-in{
  /* outline:dashed black 1px; */
    position: fixed; 
    height:20%;
    top:25%;
    left:25%;
    transform:translate (-50%, -50%);
    display: grid;
}
#log-in legend{
    margin:auto;
    font: bold
}

#username{
    width:200px;
    padding: 10px;
    margin-bottom:10px;
    margin-top:10px;
    border-bottom: 2px black solid;
    
}

#password{
    width:200px;
    padding: 10px;
    border-bottom: 2px black solid;
}


#login-box{
    margin:auto;
    text-align: center;
    padding:10px;
}

.recipe-view {
    padding-top: 40vh;
    /* z-index: 99; */
}

#each-recipe {
    outline: solid black 1px;
    background-color:rgb(110, 109, 104);
    z-index: 3;

}

#image-and-title {
    position: relative;
    text-align: center;
}

#recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100;
}


.about-view{
    padding-top: 16vh;
    width:95%;
    margin-left:10px;
}



.me{
    position:relative;
    display:grid;
    grid-template-columns: 0fr 3fr;
    padding:5px;

}

.me p{
    font-size: 14px;
    margin-left:20px;

}

.box{
    outline: solid gray 1px;
    margin:2px;
    /* position:absolute; */
    display:inline-block;
    
}





